Section: misc
Priority: optional
Standards-Version: 3.9.2

Package: whalebuilder-dependency-helper
<% if @dsc["Build-Depends"] || @dsc["Build-Depends-Indep"] %>Depends: <%= @dsc["Build-Depends"] %><% if @dsc["Build-Depends-Indep"] && @dsc["Build-Depends-Indep"] %>, <% end %><%= @dsc["Build-Depends-Indep"]%>
<% end %><% if @dsc["Build-Conflicts"] or @dsc["Build-Conflicts-Indep"] %>Conflicts: <%= @dsc["Build-Conflicts"] %><% if @dsc["Build-Conflicts-Indep"] && @dsc["Build-Conflicts-Indep"] %>, <% end %><%= @dsc["Build-Conflicts-Indep"]%>
<% end %>Description: Installs dependencies needed to build <%= @dsc.package %> <%= @dsc.version %>
